cgitest
test/cpp.cpp
huge.txt
src/self.crt
src/self.key
test/self.crt
test/self.key
dh.pem
test/web/tmp/small.dat
test/burp*
test/web/tmp/a.dat
/start.me
/projects/goahead-core*
.local.mk
.version
**/*.guid
.DS_Store
.cdrc
.expansive-lastgen
.install-certs-modified
.profile
.tags*
build/
projects/*-mine*
projecs/*.sdf
projecs/*.sln
projecs/*.suo
projects/*/project.xcworkspace/
projects/*/xcuserdata/
*.swp
.version
paks/
report
settings.json
cgitest
