.cdrc
.DS_Store
.expansive-lastgen
.install-certs-modified
.local.mk
.profile
.promoted
.tags*
.version
*.swp
**/*.guid
/projects/goahead-core*
/start.me
build/
cgitest
dh.pem
huge.txt
paks/
projecs/*.sdf
projecs/*.sln
projecs/*.suo
projects/*-mine*
projects/*/project.xcworkspace/
projects/*/xcuserdata/
report
settings.json
src/self.crt
src/self.key
test/burp*
test/cpp.cpp
test/self.crt
test/self.key
test/web/tmp/a.dat
test/web/tmp/small.dat
